Flask
flask-cors
flask-bcrypt
flask-sqlalchemy
simplegmail
numpy
pandas
scikit-learn
sentence-transformers
langchain
langchain-community
langchain-core
langchain-huggingface
groq
python-dotenv
openpyxl
sqlalchemy
requests
werkzeug
